@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -200px -200px;
    }
}

body {
    background-color: #431d52;
    margin: 0px;
    background-image: url('../images/bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    animation: backgroundScroll 5s linear infinite;
    animation-fill-mode: forwards;
}

img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

* {
	user-select: none;
	cursor: default;
	outline: none;
}

.homelink {
    padding: 0px;
}

.menu {
    width:fit-content;
}

.homeicon {
    transition: all 0.15s;
    position: relative;
    top: 15px;
}

.homeicon:hover {
    transform: scale(1.25);
}

.scr1 {
    width: 1183;
    height: 661;
}

.screenshots {
    width: auto;
    height: auto;
}

@media (min-width: 979px) {
    /* Large desktop */
    .container {
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .navmenu {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* Portrait tablet to landscape and desktop */
    .container {
        margin-left: 8%;
        margin-right: 8%;
    }
    
    .navmenu {
        margin-left: 8%;
        margin-right: 8%;
    }

}

@media (max-width: 767px) { 
    /* Landscape phone to portrait tablet */
    .container {
        margin-left: 1em;
        margin-right: 1em;
    }

    .navmenu {
        margin-left: 1em;
        margin-right: 1em;
    }
}


@media (max-width: 480px) {
    /* Landscape phones and down */
    .container {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    
    .navmenu {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

/* .container {
    margin-left: 15%;
    margin-right: 15%;
} */

.topnav {
    background-color: #7f45a2
}

/* .navmenu {
    margin-left: 15%;
    margin-right: 15%;
} */

nav ul, footer ul {
    font-family: 'Calibri';
    padding: 5px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: block;
    margin-right: 20px;
}

.link {
    position: relative;
    bottom: 30px;
    left: 70px;
}

a {
    text-decoration: none;
    color: #e18fff;
    font-family: 'Calibri';
    font-weight: 1000;
    font-size: 1.2em;
    transition: color 0.25s;
    padding: 5px;
}

a:hover {
    color: #ebb4ff;
}

a:active {
    color: #ce49ff;
}

h1 {
    font-size: 2.5em;
    font-family: 'Calibri';
    color: #da9dff;
}

h2 {
    font-size: 2.0em;
    font-family: 'Calibri';
    color: #da9dff;
}

h3 {
    font-size: 1.5em;
    font-family: 'Calibri';
    color: #da9dff;
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #d083ff;
    font-family: 'Calibri';
}

footer {
    border-top: 1px solid #e3a8ff;
    font-size: .8em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.btn-default {
	border: 2px solid #7f45a2;
	color: #e3a8ff;
	background-color: transparent;
	border-radius: 5px;
	padding: 5px 10px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 2px;
}

.btn-default:hover {
	background-color: #7f45a2;
	color: #f2d5ff;
}
.btn-default:active {
	border: 2px solid #e3a8ff;
	transform: scale(0.95);
}

.dload-buttons {
    display: block;
    width: 30em;
}