<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img src="/images/Logo.png" width=128 height=128/></a></li>
		        	<li><a href="/download">Скачать</a></li>
					<li><a href="/changelog">Список изменений</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:qwerty.qaz120@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
