<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<script src="/js/main.js"></script>
			<meta name="theme-color" content="#7F45A2">
		</head>
		<body>
			<header>
				<div class="menu">
					<img class="logo" src="/images/Logo.png" width="50px"></img>
					<nav class="navmenu">							
						<ul>
							<li><a href="/">Главная</a></li>
							<li><a href="/download">Скачать</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>
	</html>
