<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Главная</a></li>
		        	<li><a href="/zhmih">КАТЫ</a></li>
	        		<li><a href="/acsite">Сайт Anime Clicker</a></li>
					<li><a href="/ac-android">Anime Clicker Android</a></li>
					<li><a href="/artworks">Работы великих мангак</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:qwerty.qaz120@gmail.com">email</a></li>
	        		<li><a href="https://github.com/catink123/anime-clicker-release/archive/master.zip">Скачать Anime Clicker</a></li>
				</ul>
			</footer>
		</body>
	</html>
